body{
  padding: 0px;
  margin: 0px;
}
.nav1 a{
  text-decoration: none;
  margin: 0 !important;
  color: #343434;
  font-weight: 600;
}
.nav1 ul{
  padding: 0 !important;
  margin: 0 !important;
}

.top{
  display: flex;
}
.logo{
  padding-left: 40px;
  padding-right: 20px;
  border-right: 1px solid #c5c4c3;
  border-left: 0 !important;
  margin-top: 0px;
  padding-top: 10px;
}
.first img{
  padding-right: 30px ;
}

.nav1 {
  display: flex;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav1 li {
  border-right: 1px solid #c5c4c3;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  margin-top: 0px;


}


.nav1 li:nth-child(1) {
  padding-right: 80px;
}

.nav1 li:nth-child(10) {
  padding-right: 90px;
  padding-left: 20px;
}
.topnav{
  padding: 10px;
  margin-top: 0px;
  border-right: 0px !important;
  /*border: 0.1px solid #c3c3c3;*/
  /*background-color: #E4E4E4;*/
}
.mainhead{
 background-color: #bb1919;
}
.head1{
  background-color: #bb1919;
  padding-left: 40px;
  padding-top: 10px;
  margin-top: 0px;
  margin-bottom: 5px;
}


.nav2 li a{
  border-right: 1px solid #c5c4c3;
  padding-right: 10px !important;
  color: #ffffff;
  font-weight: 400 !important;

}
.nav2 li{
  border: none !important;
  margin-right: 10px !important;
  padding-left: 5px !important;
  padding-right: 0px !important;
 
}
.nav2 li:nth-child(1){
  padding-left: 40px !important;
  padding-top: 10px;
  padding-right: 5px !important;
  /*margin-right: 40px;*/

}
.li-nav2{
  border-right: 0px !important;


}
.menu3 li  a{
  color: #000 !important;
}

.nav3 li{
  font-size: 17px !important;
}
.nav3 li:nth-child(1){
  font-size: 22px !important;
  font-weight: 600 !important;

}
.mainbodyart{
  display: flex;
}
.div1{
  width: 30%;
  /*margin-right: 20px !important;*/
  padding-left: 40px !important;
}
.div2{
  width: 18%;
  /*margin-right: 20px !important;*/
  margin-left: 7%;
}
.div3{
  width: 18%;
  /*margin-right: 20px !important;*/
    margin-left: 1%;
}

.div4{
  width: 18%;
  /*margin-right: 20px !important;*/
  margin-left: 1%;
}
.a-div1{
  font-size: 28px;
  font-weight: 600;
  text-decoration: none;
  color: #716C65;
  margin-top: 0px !important;
}
.a-div1 h1{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.div1 p{
  color: grey;

}
.ul-div1{
  padding-left: 20px !important;
  padding-top: 20px;
  font-size: 18px;
  font-weight: 600;
  
}
.ul-div1 li a{
 text-decoration: none;
 color: #343434;
}
.p-a-div2{
  text-decoration: none !important;
  color: #000;
}
.p-a-div3{
  text-decoration: none !important;
  color: #000;
}
.p-a-div4{
  text-decoration: none !important;
  color: #000;
}
.a-div2{
  font-size: 15px;
  font-weight: 600;
}
.div2 p{
  color: grey;

}
/*.bodylast1{
  display: flex;
}*/
.seg1{
  font-size: 30px;
  padding-left: 40px;
}
.seg2{
  width: 35%;
  padding-left: 70px;
}
.fblogo{
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
}

.seg2right-p1{
  border-left: 1px solid #c3c3c3;
  padding-left: 15px !important;
}
.seg2right-p1 email{
  border-left: 1px solid #c3c3c3;;
}
.seg2merge{
  display: flex;
}
.seg2right{
  width: 55%;
  display: flex;
}
.b-email{
  font-size: 23px;
  font-weight: 600;
  padding-left: 10px;

}
.email{
  font-size: 23px;
  font-weight: 300;
}
.phone{
    font-size: 23px;
  font-weight: 300;
}
.phonelogo{
  padding-left: 0px;
}
.ulrightp3 li a{
  text-decoration: none;
  color: #000;

}
.ulrightp3 li{
  color: #494747;
}
.ulrightp3{
  list-style-type: none;
}
.seg2right-p2 p a{
  text-decoration: none;
  color: #494747;
  font-weight: 600;

}
.seg2right-p1 p a{
  text-decoration: none;
  color: #494747;
  font-weight: 600;
}
.seg2right-p2{
  padding-left: 20px;
}
.footer1{
  background-color: #2F2F2F;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  padding-left: 40px;
}
.para1{
  font-size: 24px;
  font-weight: 500;
  padding: 20px 0 20px;
}
.para2{
  margin-left: -10px !important;
  display: flex;
}
.td1{
  margin-right: 100px !important;
}
.para2-s1{
  padding-right: 200px;
}
.para2-s2{
  padding-right: 200px;
}
.para2-s3{
  padding-right: 200px;
}
.para3{
  display: flex;
}
.para3-s1{
  padding-right: 150px;
}
.para3-s2{
  padding-right: 150px;
  border-left: 1px solid #c4c4c4;
  padding-left: 20px;
}

.para3-s3{
  padding-right: 150px;
  border-left: 1px solid #c4c4c4;
  padding-left: 20px;
}

.para3-s4{
  padding-right: 150px;
  border-left: 1px solid #c4c4c4;
  padding-left: 20px;
}

.para3-s5{
  padding-right: 150px;
  border-left: 1px solid #c4c4c4;
  padding-left: 20px;
}
.para3-s6{
  padding-right: 150px;
  border-left: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  padding-left: 20px;
}
.footer2{
  padding-left: 40px;
  background-color: #4C4C4C;
}
.para3{
  padding-bottom: 10px;
  padding-left: 12px;
}
.para3 a{
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}
.para2{
  color: #fff;
  font-weight: 700;
  padding-left: 17px;
}
.copyright1{
  background-color: #4C4C4C;

}
.copyright2{
  color: #fff;
  padding-left: 40px;
  padding-bottom: 20px;

}

.nav4 ul li {
  border: none !important;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  margin-top: 0px;

}

.nav4 ul li a{
  
  font-size: 8px !important;
  border: none !important;

}
.nav4 li:nth-child(1) {
  padding-right: 80px;
  border: none !important;
  font-size: 15px !important;
}

.nav4 li a {
     border-right: none !important;
   }

   .a-copyright1{
    padding-left: 40px;
    text-decoration: none;
    font-size: 17px !important;
    color: #fff;
   }
   .nav4 li {
     font-size: 15px !important; 
}

a:active {
  color: red;
}
a:hover {
  color: #1380A1;
  text-decoration: underline;
}
.ul-div1 a:hover {
  color: #1380A1;
  text-decoration: underline;
}
.nav1 a:hover {
  color: #343434;
  text-decoration: underline;
  text-decoration-color: red;
}
.nav2 a:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: white;
}
.nav3 a:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: red;
}
.nav4 a:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: white;
}
.a-copyright1:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: white;
}
.para3-s1 a:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: white;
}
.para3-s2 a:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: white;
}
.para3-s3 a:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: white;
}
.para3-s4 a:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: white;
}
.para3-s5 a:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: white;
}
.para3-s6 a:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: white;
}
.seg2right a:hover {
  color: #1380A1;
  text-decoration: underline;
}
.world:link {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: red;
}
.world:visited {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: red;
}
.seg1{
  color: #222222;
  font-weight: 500;
}
/*.seg2 p:hover{
  background-color: blue;

}
*/